---
import Layout from "../layout/Layout.astro";
---

<Layout title={"404"} class="h-screen w-screen bg-gray-900 p-16">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-6xl font-bold text-white">404</h1><h2
      class="text-3xl text-white"
    >
      Page Not Found
    </h2>
    <img src="https://midu.dev/images/this-is-fine-404.gif" alt="" />
  </div>"</Layout
>
