---
import X from "../icons/X.astro";
import Github from "../icons/Github.astro";
---

<footer class="flex flex-col items-center justify-center py-4">
  <div
    class="m-1 flex w-full flex-col items-center rounded-sm border-2 border-blue-400 bg-blue-400 px-4 text-white"
  >
    <h3>Pevalcar Api</h3>
    <h3 class="p-1 text-center">0.1.0</h3>
    <h3 class="text-center">Contacto</h3>
    <div class="flex flex-row gap-4 text-center text-sm">
      <div class="flex flex-row items-center p-2">
        <X class="h-auto w-auto p-1" />
        <a
          class="flex flex-row items-center gap-1 p-1"
          href="https://twitter.com/pevalcar"
          target="_blank"
        >
          @pevalcar
        </a>
      </div>
      <div class="flex flex-row items-center gap-1 p-2">
        <Github class="h-auto w-auto p-1" />
        <a
          class="flex flex-row items-center gap-1 p-1"
          href="https://github.com/Pevalcar"
          target="_blank"
        >
          @pevalcar
        </a>
      </div>
      <a href="https://www.buymeacoffee.com/perroaa94g" target="_blank"
        ><img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-violet.png"
          alt="Buy Me A Coffee"
          style="height: 40px !important;width: 217/2px !important;"
        /></a
      >
    </div>
  </div>
</footer>
