---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Header from "../components/Header.astro";

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.title}</title>
  </head>
  <body class="bg-gray-900">
    <ViewTransitions />
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
